[submodule "api"]
	path = api
	url = https://github.com/limo-trading/limo-api
[submodule "mobile"]
	path = mobile
	url = https://github.com/limo-trading/limo-mobile
[submodule "website"]
	path = website
	url = https://github.com/limo-trading/limo-website
